<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender for sending logs to Logstash -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.2.2:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Set the root logger level to INFO and include the "logstash" appender -->
    <root level="info">
        <appender-ref ref="logstash" />
    </root>

</configuration>
