<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.2.2:5044</destination>
        <!-- Customize other Logstash appender properties if needed -->
    </appender>

    <root level="info">
        <appender-ref ref="LOGSTASH"/>
        <!-- Add other appenders if needed -->
    </root>
</configuration>
