<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div><br></div>
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="text-left logo p-2 px-5">
                        <img src="https://logopond.com/logos/7dbd707ec8e4652a86563df294cc589b.png" width="250">
                    </div>
                    <div class="invoice p-5">
                        <div>
                            <span (click)="navigateToAddFacture()" style="cursor: pointer;">
                                <i class="fa fa-plus" style="color: #000000;"></i> Add Facture
                            </span>
                        </div>
                        <br>
                        <h5>Listes des factures!</h5>
                        <span class="font-weight-bold d-block mt-4">Bonjour, Chris</span>
                        <span>Ceci est votre liste de facture,</span>
                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Ref</th>
                                        <th>Remise</th>
                                        <th>Archivee</th>
                                        <th>Montant facture</th>
                                        <th>Date Creation</th>
                                        <th>Date Modification</th>
                                        <th>Fournisseur</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let facture of factures">
                                        <td>
                                            <img src="https://cdn-icons-png.flaticon.com/512/1611/1611154.png"
                                                width="40">
                                        </td>
                                        <td>{{ facture.idFacture }}</td>
                                        <td>{{ facture.montantRemise }}</td>
                                        <td (click)="facture.archivee ? null : toggleCancelFacture(facture)"
                                            [style.cursor]="facture.archivee ? 'default' : 'pointer'">
                                            {{ facture.archivee }}
                                        </td>
                                        <td>{{ facture.montantFacture }}</td>
                                        <td>{{ facture.dateCreationFacture }}</td>
                                        <td>{{ facture.dateDerniereModificationFacture }}</td>
                                        <td (dblclick)="startEditing(facture)">
                                            <ng-container *ngIf="!isEditing || editingFactureId !== facture.idFacture; else editingMode">
                                              {{ facture.fournisseur ? facture.fournisseur.libelle : '' }}
                                            </ng-container>
                                            <ng-template #editingMode>
                                              <select [(ngModel)]="facture.fournisseur" (blur)="stopEditing()" (change)="assignFournisseur(facture)">
                                                <option *ngFor="let fournisseur of fournisseursList" [ngValue]="fournisseur">
                                                  {{ fournisseur.libelle }}
                                                </option>
                                              </select>
                                            </ng-template>
                                          </td>
                                          
                                          
                                        
                                        <td>
                                            <a>
                                                <i class="fa fa-trash" style="color: #800000; cursor: pointer;"
                                                    (click)="deleteFacture(facture.idFacture)"></i>
                                            </a>
                                            <a (click)="redirectToFactureDetails(facture)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="font-weight-bold mb-0">Merci d'avoir commander chez nous</p>
                        <span>Achat Team</span>
                    </div>
                    <div class="d-flex justify-content-between footer p-3">
                        <span>Need Help? visit our <a href="#"> help center</a></span>
                        <span>12 June, 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><br></div>

</body>
<script src="https://kit.fontawesome.com/96917c5f91.js" crossorigin="anonymous"></script>

</html>
