<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture Details</title>
</head>

<body>
    <div><br></div>
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="text-left logo p-2 px-5">
                        <img src="https://logopond.com/logos/7dbd707ec8e4652a86563df294cc589b.png" width="250">
                    </div>
                    <div class="invoice p-5">

                        <br>
                        <h5>Ajouter une facture</h5>
                        <span class="font-weight-bold d-block mt-4">Bonjour, Chris</span>
                        <br>
                        <!-- Form for facture add -->
                        <form (ngSubmit)="addFacture()" #factureForm="ngForm">
                            <div class="form-group">
                                <label for="montantFacture">Montant Facture:</label>
                                <input type="text" class="form-control" id="montantFacture" [(ngModel)]="facture.montantFacture" name="montantFacture" required>
                            </div>
                            <div class="form-group">
                                <label for="montantRemise">Montant Remise:</label>
                                <input type="text" class="form-control" id="montantRemise" [(ngModel)]="facture.montantRemise" name="montantRemise" required>
                            </div>
                            <div class="form-group">
                                <label for="dateCreationFacture">Date Creation Facture:</label>
                                <input type="date" class="form-control" id="dateCreationFacture" [(ngModel)]="facture.dateCreationFacture" name="dateCreationFacture" required>
                            </div>
                      
                            
                            
                            <!-- Add more form fields as needed -->
                            <button type="submit" class="btn btn-primary">Add Facture</button>
                        </form>

                        <p class="font-weight-bold mb-0">Merci d'avoir commander chez nous</p>
                        <span>Achat Team</span>
                    </div>
                    <div class="d-flex justify-content-between footer p-3">
                        <span>Need Help? visit our <a href="#"> help center</a></span>
                        <span>12 June, 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><br></div>
</body>
<script src="https://kit.fontawesome.com/96917c5f91.js" crossorigin="anonymous"></script>

</html>
